server {
  listen ${PORT};
  proxy_ssl_server_name on;

  location / {
    proxy_pass ${CLIENT_URL};
    proxy_set_header Host $proxy_host;
  }

  location /api {
    rewrite /api/(.*) /$1 break;
    proxy_pass ${API_URL};
    proxy_set_header Host $proxy_host;
  }

  location /ws {
    proxy_pass ${CLIENT_URL};
    proxy_set_header Host $proxy_host;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
  }
}
